/*ScrollEdit*/
::-webkit-scrollbar {
  width: 0.5vh;
  height: 0.5vh;
}

body::-webkit-scrollbar {
  width: 0.5vh;
  height: 0.5vh;
}

::-webkit-scrollbar-track {
  margin: 0;
  padding: 0;
  border-radius: 0%;
  background: var(--p1-color);
}

::-webkit-scrollbar-thumb {
  border-radius: 10vh;
  background: var(--s-color);
  opacity: 90%;
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar-thumb:hover {
  opacity: 50%;
}

/*COLOR PALATE*/
:root {
  --shadow:black;
  --landing-page-loader: rgb(21, 20, 20);
  --p-color: #0f0f0f;
  --s-color: rgb(232, 236, 246);
  --text-color: white;
  --p1-color: #01403A;
  --s1-color:#F2E205;
  --header:"Bebas Neue", cursive;
  --text:"Jost", sans-serif;
  --cursive:"Cedarville Cursive", cursive;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: var(--text-color);
}

@-webkit-keyframes rotate-360deg {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate-360deg {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes click-me {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 0;
  }
}
@keyframes click-me {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes fade-out {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}
@keyframes fade-out {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}
@-webkit-keyframes menuOpen {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes menuOpen {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
body {
  background: var(--shadow);
}
body .loading-screen {
  transition: 2s ease-in-out;
  position: fixed;
  top: 0;
  bottom: 0;
  opacity: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--p-color);
  z-index: 0;
}
body .loading-screen .loading-animation {
  transition: 1s ease-in;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20vh;
  height: 20vh;
  background: repeating-linear-gradient(45deg, var(--p1-color) 1%, var(--p-color) 10%);
  border-radius: 100%;
  border: 1vh dashed var(--s-color);
  display: flex;
  align-items: center;
  justify-content: center;
}
body .loading-screen .loading-animation .inner-circle {
  width: 70%;
  height: 70%;
  border-radius: 100%;
  background: var(--p-color);
  border: 1vh dashed var(--s-color);
  -webkit-animation: rotate-360deg 2s linear infinite forwards;
          animation: rotate-360deg 2s linear infinite forwards;
}
body .home-context {
  transition: 0.2s linear;
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(112.5deg, rgba(232, 232, 232, 0.03) 0%, rgba(232, 232, 232, 0.03) 2%, rgba(231, 231, 231, 0.03) 2%, rgba(231, 231, 231, 0.03) 4%, rgba(231, 231, 231, 0.03) 4%, rgba(231, 231, 231, 0.03) 11%, rgba(2, 2, 2, 0.03) 11%, rgba(2, 2, 2, 0.03) 67%, rgba(231, 231, 231, 0.03) 67%, rgba(231, 231, 231, 0.03) 90%, rgba(111, 111, 111, 0.03) 90%, rgba(111, 111, 111, 0.03) 100%), linear-gradient(157.5deg, rgba(210, 210, 210, 0.03) 0%, rgba(210, 210, 210, 0.03) 17%, rgba(254, 254, 254, 0.03) 17%, rgba(254, 254, 254, 0.03) 18%, rgba(96, 96, 96, 0.03) 18%, rgba(96, 96, 96, 0.03) 44%, rgba(159, 159, 159, 0.03) 44%, rgba(159, 159, 159, 0.03) 70%, rgba(24, 24, 24, 0.03) 70%, rgba(24, 24, 24, 0.03) 82%, rgba(16, 16, 16, 0.03) 82%, rgba(16, 16, 16, 0.03) 100%), linear-gradient(22.5deg, rgba(47, 47, 47, 0.03) 0%, rgba(47, 47, 47, 0.03) 32%, rgba(124, 124, 124, 0.03) 32%, rgba(124, 124, 124, 0.03) 40%, rgba(200, 200, 200, 0.03) 40%, rgba(200, 200, 200, 0.03) 42%, rgba(16, 16, 16, 0.03) 42%, rgba(16, 16, 16, 0.03) 64%, rgba(243, 243, 243, 0.03) 64%, rgba(243, 243, 243, 0.03) 94%, rgba(93, 93, 93, 0.03) 94%, rgba(93, 93, 93, 0.03) 100%), linear-gradient(90deg, #ffffff, #ffffff);
  display: flex;
  align-items: center;
  justify-content: center;
}
body .home-context .profile-card {
  position: relative;
  width: 40vh;
  height: 50vh;
  background: var(--p-color);
  border-radius: 2vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 2vh;
  overflow: hidden;
  box-shadow: 0vh 0vh 2vh var(--shadow);
}
body .home-context .profile-card .profile-card-photo {
  overflow: hidden;
  height: 20vh;
  width: 100%;
  border-bottom: 1vh double var(--s-color);
}
body .home-context .profile-card .profile-card-photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 10% 55%;
     object-position: 10% 55%;
  transform: scale(2);
}
body .home-context .profile-card .profile-card-title {
  font-size: 4vh;
  font-family: var(--text);
  text-transform: capitalize;
}
body .home-context .profile-card .profile-card-discription {
  font-size: 2vh;
  font-family: var(--text);
  margin-top: -2vh;
}
body .home-context .profile-card .profile-card-contacts .profile-card-social-link-list {
  list-style: none;
}
body .home-context .profile-card .profile-card-contacts .profile-card-social-link-list .profile-card-social-link {
  display: inline;
  padding: 1vh;
  cursor: pointer;
}
body .home-context .profile-card .profile-card-contacts .profile-card-social-link-list .profile-card-social-link img {
  background: var(--s-color);
  border-radius: 100%;
  height: 4vh;
  width: 4vh;
}
body .home-context .profile-card .profile-card-resume {
  padding: 1vh;
  font-size: 2vh;
  font-family: var(--text);
  background: var(--shadow);
  border-radius: 1vh;
  border: 0.5vh double var(--s-color);
}
body .home-context .profile-card .profile-card-resume a {
  text-decoration: none;
  color: var(--text-color);
}
body .about-context {
  transition: 0.2s linear;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(90deg, transparent 0%, transparent 8%, rgba(90, 90, 90, 0.05) 8%, rgba(90, 90, 90, 0.05) 21%, transparent 21%, transparent 100%), linear-gradient(45deg, transparent 0%, transparent 23%, rgba(90, 90, 90, 0.05) 23%, rgba(90, 90, 90, 0.05) 37%, transparent 37%, transparent 100%), linear-gradient(0deg, transparent 0%, transparent 37%, rgba(90, 90, 90, 0.05) 37%, rgba(90, 90, 90, 0.05) 49%, transparent 49%, transparent 100%), linear-gradient(90deg, rgb(255, 255, 255), rgb(255, 255, 255));
  width: 100%;
  min-height: 100vh;
}
body .about-context .about-me {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1vh;
  gap: 1vh;
  justify-content: center;
  align-items: flex-start;
}
body .about-context .about-me .about-me-photo-resume {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1vh;
  gap: 2vh;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
body .about-context .about-me .about-me-photo-resume .about-me-photo {
  width: 30vh;
  height: 30vh;
  box-sizing: border-box;
  background: var(--s-color);
  border-radius: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
  justify-content: center;
  box-shadow: inset 0 0 2vh var(--shadow);
}
body .about-context .about-me .about-me-photo-resume .about-me-photo img {
  transform: scale(1.5);
  width: 100%;
  height: 100%;
  border-radius: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
body .about-context .about-me .about-me-photo-resume .about-me-resume {
  width: 90%;
  text-align: center;
  padding: 1vh;
  background: var(--p-color);
  font-size: 2vh;
  font-family: var(--text);
  border-radius: 1vh;
}
body .about-context .about-me .about-me-photo-resume .about-me-resume a {
  color: var(--text-color);
}
body .about-context .about-me .about-me-paragraph {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  gap: 2vh;
  width: 40%;
  text-align: justify;
  color: var(--p-color);
  font-size: 2vh;
  font-family: var(--text);
}
body .about-context .about-me .about-me-paragraph .about-me-paragraph-header {
  color: var(--p-color);
  margin-bottom: 1vh;
  font-size: 3vh;
  font-weight: bold;
}
body .about-context .about-me-skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
body .about-context .about-me-skills .about-me-skills-header {
  border-top: 1vh double var(--s-color);
  border-bottom: 1vh double var(--s-color);
  width: 100%;
  text-align: center;
  font-size: 4vh;
  padding: 1vh;
  font-family: var(--header);
  background: var(--p-color);
}
body .about-context .about-me-skills .skills-list {
  list-style: none;
}
body .about-context .about-me-skills .skills-list .skill {
  margin: 1vh;
  padding: 2vh;
  text-align: center;
  font-weight: bolder;
  display: inline;
  color: var(--p-color);
  font-size: 2vh;
  font-family: var(--text);
}
body .projects-context {
  transition: 0.2s linear;
  border-top: 1vh double var(--p-color);
  border-bottom: 1vh double var(--p-color);
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: repeating-linear-gradient(0deg, rgb(153, 197, 206) 0vh, rgb(153, 197, 206) 0.1vh, transparent 0.5vh, transparent 5vh), repeating-linear-gradient(0deg, rgb(153, 197, 206) 0vh, rgb(153, 197, 206) 0.1vh, transparent 0.5vh, transparent 10vh), repeating-linear-gradient(90deg, rgb(153, 197, 206) 0vh, rgb(153, 197, 206) 0.1vh, transparent 0.1vh, transparent 5vh), repeating-linear-gradient(90deg, rgb(153, 197, 206) 0vh, rgb(153, 197, 206) 0.1vh, transparent 0.5vh, transparent 10vh), linear-gradient(var(--s-color), var(--s-color));
}
body .projects-context .project-container {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  align-items: center;
  justify-content: center;
  padding: 1vh;
  max-width: 90vh;
  gap: 5vh;
  margin: 10vh 0;
}
body .projects-context .project-container .project {
  transition: 0.2s linear;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1vh;
  width: 40vh;
  padding: 1vh;
}
body .projects-context .project-container .project:hover .project-header {
  transform: rotateY(180deg);
}
body .projects-context .project-container .project:hover .project-header .project-bio {
  visibility: visible;
  background: var(--p-color);
}
body .projects-context .project-container .project .project-header {
  transition: 0.2s linear;
  position: relative;
  font-size: 3vh;
  font-family: var(--text);
  text-transform: uppercase;
  padding: 1vh;
  color: var(--p-color);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40vh;
  height: 40vh;
  text-align: center;
  border-radius: 1vh;
  background: var(--s-color);
  border-radius: 2vh;
  border: 1vh double var(--p-color);
  transform-style: preserve-3d;
  overflow: hidden;
  box-shadow: 0vh 0vh 1vh var(--shadow);
}
body .projects-context .project-container .project .project-header .project-bio {
  position: absolute;
  top: 5%;
  right: 5%;
  bottom: 5%;
  left: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  visibility: hidden;
  border-radius: 2vh;
  border: 1vh double var(--s-color);
  transform: rotateY(180deg);
  overflow: hidden;
  font-size: 2vh;
  font-family: var(--text);
  color: var(--text-color);
  padding: 2vh;
}
body .projects-context .project-container .project .project-expand {
  cursor: pointer;
  width: 40vh;
  padding: 2vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3vh;
  font-family: var(--header);
  background: var(--p-color);
  text-transform: uppercase;
  border-radius: 2vh;
  letter-spacing: 1vh;
  box-shadow: 0vh 1vh var(--p1-color);
}
body .contacts-context {
  transition: 0.2s linear;
  width: 100%;
  background-image: repeating-radial-gradient(circle at center center, transparent 0px, transparent 11px, rgba(255, 255, 255, 0.04) 11px, rgba(255, 255, 255, 0.04) 19px, transparent 19px, transparent 29px, rgba(255, 255, 255, 0.04) 29px, rgba(255, 255, 255, 0.04) 33px), repeating-radial-gradient(circle at center center, rgb(0, 0, 0) 0px, rgb(0, 0, 0) 5px, rgb(0, 0, 0) 5px, rgb(0, 0, 0) 17px, rgb(0, 0, 0) 17px, rgb(0, 0, 0) 30px, rgb(0, 0, 0) 30px, rgb(0, 0, 0) 43px, rgb(0, 0, 0) 43px, rgb(0, 0, 0) 45px, rgb(0, 0, 0) 45px, rgb(0, 0, 0) 47px);
  background-size: 53px 53px;
  display: flex;
  flex-direction: column;
  padding: 10vh;
  align-items: center;
  justify-content: center;
}
body .contacts-context .social-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body .contacts-context .social-links .social-link-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 5vh;
  list-style: none;
}
body .contacts-context .social-links .social-link-list .social-link a {
  border: 1vh double var(--s-color);
  border-radius: 100%;
}
body .contacts-context .social-links .social-link-list .social-link a img {
  border: 0.2vh solid var(--s-color);
  border-radius: 100%;
  background: var(--s-color);
  width: 5vh;
  height: 5vh;
}
body .contacts-context .social-links .social-link-list .social-link a img:hover {
  transform: scale(1.2);
}
body .contacts-context .phone-no {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5vh 0 0 0;
  font-size: 2vh;
  font-family: var(--text);
}

@media (max-width: 980px) {
  .about-context {
    padding: 10vh 0;
  }
  .about-context .about-me .about-me-paragraph {
    min-width: 90%;
  }
  .about-context .about-me-skills .skills-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}/*# sourceMappingURL=style.css.map */