/*ScrollEdit*/
::-webkit-scrollbar{
    width: 1vh;
    height: 1vh;
}

body::-webkit-scrollbar{
    width:.5vh;
    height: .5vh;
}
::-webkit-scrollbar-track{
    margin:0;
    padding: 0;
    border-radius: 0%;
    background: var(--nColor);
}
::-webkit-scrollbar-thumb{
    border-radius: 10vh;
    background: var(--sColor);
    opacity:90%;
    margin: 0;
    padding: 0;
    &:hover{
        opacity:50%;
    }
}
/*COLOR PALATE*/
:root{
    --shadow:black;
    --landing-page-loader: rgb(21, 20, 20);
    --p-color: #0f0f0f;
    --s-color: rgb(232, 236, 246);
    --text-color: white;
    --p1-color: #01403A;
    --s1-color:#F2E205;
    --header:'Bebas Neue', cursive;
    --text:'Jost', sans-serif;
    --cursive:'Cedarville Cursive', cursive;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color:var(--text-color);
}
body{
    .left-section{
        .menu{
            position: absolute;
            left:0;
            width:50%;
            height: 100vh;
            background: var(--shadow);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            .menu-list{
                list-style: none;
                .menu-options{
                    transition: .1s linear;
                    font-size: 4vh;
                    font-family: var(--header);
                    cursor: pointer;
                    padding: 1vh;
                    margin: 4vh 0;
                    letter-spacing: .5vh;
                    &:hover{
                        transform: translateY(-5px);
                    }
                }
                img{
                    height: 20vh;
                    width: 20vh;
                    background: var(--s-color);
                    border-radius: 100%;
                    border: 1vh solid var(--s-color);
                }
            }
        }
    }
    .right-section{
        .home-context{
            position: absolute;
            right: 0;
            width:50%;
            height:100vh;
            background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='69.283' height='40' patternTransform='scale(4) rotate(30)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0,0%,100%,1)'/><path d='M46.189-20L57.736 0M46.189 20l11.547 20m-46.189 0l11.547 20M11.547 0l11.547 20m40.415 30H40.415M28.868 30H5.774m23.094-40H5.774m57.735 20H40.415m0 20L28.868 50m11.547-60L28.868 10m46.188 0L63.509 30M5.774 10L-5.773 30m75.056 10H46.189L34.64 20 46.19 0h23.094C73.13 6.667 76.98 13.333 80.83 20zM57.736 60H34.64L23.094 40l11.547-20h23.095c3.848 6.667 7.698 13.333 11.547 20L57.736 60zm0-40H34.64L23.094 0l11.547-20h23.095L69.283 0c-3.87 6.7-8.118 14.06-11.547 20zM34.64 60H11.547L0 40l11.547-20h23.094L46.19 40 34.64 60zm0-40H11.547L0 0l11.547-20h23.094L46.19 0 34.64 20zM23.094 40H0l-5.773-10-5.774-10L0 0h23.094l11.547 20-11.547 20z'  stroke-width='1' stroke='hsla(0, 0%, 0%, 1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(-536,-152)' fill='url(%23a)'/></svg>");
            box-shadow: inset 0 0 4vh var(--shadow);
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 1;
        }
        .profile-card{
            position: relative;
            width: 40vh;
            height: 50vh;
            background: var(--p-color);
            border-radius: 2vh;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            gap:2vh;
            overflow: hidden;
            box-shadow: 0vh 0vh 2vh var(--shadow);
            .profile-card-photo{
                overflow: hidden;
                height: 20vh;
                width:100%;
                border-bottom:1vh  double var(--s-color);
                img{
                    width: 100%;
                    height: 100%;
                    object-fit:cover;
                    object-position:50% 15%;
                }
            }
            .profile-card-title{
                font-size: 4vh;
                font-family: var(--text);
                text-transform: capitalize;
            }
            
            .profile-card-discription{
                font-size: 2vh;
                font-family: var(--text);
                margin-top: -2vh;
            }
            .profile-card-contacts{
                .profile-card-social-link-list{
                    list-style: none;
                    .profile-card-social-link{
                        display: inline;
                        padding: 1vh;
                        cursor: pointer;
                        img{
                            background: var(--s-color);
                            border-radius: 100%;
                            height: 4vh;
                            width: 4vh;
                        }
                    }
                }
            }
        }
        .about-context{
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            right: 0;
            width: 50%;
            height: 100vh;
            background: var(--s-color);
            padding: 1vh;
            .about-me{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                gap: 1vh;
                justify-content: center;
                align-items: flex-start;
                .about-me-photo{
                    width: 30vh;
                    height: 40vh;
                    overflow: hidden;
                    border: 1vh solid var(--s-color);
                    border-radius: 5vh;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
                .about-me-paragraph{
                    width: 40%;
                    text-align: justify;
                    color: var(--p-color);
                    font-size: 2vh;
                    font-family: var(--text);
                    .about-me-paragraph-header{
                        color: var(--p-color);
                        margin-bottom: 1vh;
                        font-size: 3vh;
                        font-weight: bold;
                    }
                }
            }

        }
        .projects-context{
            position: absolute;
            right: 0;
            width: 50%;
            height: 100vh;
            background: var(--p-color);
            display: flex;
            flex-direction: column;
            padding: 1vh;
            align-items: center;
            justify-content: center;
        }
        .contacts-context{
            position: absolute;
            right: 0;
            width: 50%;
            height: 100vh;
            background: var(--p1-color);
            display: flex;
            flex-direction: column;
            padding: 1vh;
            align-items: center;
            justify-content: center;
        }
    }

    .mobile-section{
        display: none;
        .nav-m{
            position: fixed;
            top:1%;
            right: 1%;
            font-size:  2vh;
            font-family: var(--text);
            background: var(--p-color);
            opacity: 90%;
            padding:1vh;
            text-align: center;
            z-index: 2;
        }
        .menu-m{
            min-width:100%;
            height: 100vh;
            background: var(--shadow);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            .menu-m-list{
                list-style: none;
                .menu-m-options{
                    transition: .1s linear;
                    font-size: 4vh;
                    font-family: var(--header);
                    cursor: pointer;
                    padding: 1vh;
                    margin: 4vh 0;
                    letter-spacing: .5vh;
                    &:hover{
                        transform: translateY(-5px);
                    }
                }
                img{
                    height: 20vh;
                    width: 20vh;
                    background: var(--s-color);
                    border-radius: 100%;
                    border: 1vh solid var(--s-color);
                }
            }
        }

        .home-context-m{
            position: fixed;
            width:100%;
            height:100vh;
            background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='69.283' height='40' patternTransform='scale(4) rotate(30)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0,0%,100%,1)'/><path d='M46.189-20L57.736 0M46.189 20l11.547 20m-46.189 0l11.547 20M11.547 0l11.547 20m40.415 30H40.415M28.868 30H5.774m23.094-40H5.774m57.735 20H40.415m0 20L28.868 50m11.547-60L28.868 10m46.188 0L63.509 30M5.774 10L-5.773 30m75.056 10H46.189L34.64 20 46.19 0h23.094C73.13 6.667 76.98 13.333 80.83 20zM57.736 60H34.64L23.094 40l11.547-20h23.095c3.848 6.667 7.698 13.333 11.547 20L57.736 60zm0-40H34.64L23.094 0l11.547-20h23.095L69.283 0c-3.87 6.7-8.118 14.06-11.547 20zM34.64 60H11.547L0 40l11.547-20h23.094L46.19 40 34.64 60zm0-40H11.547L0 0l11.547-20h23.094L46.19 0 34.64 20zM23.094 40H0l-5.773-10-5.774-10L0 0h23.094l11.547 20-11.547 20z'  stroke-width='1' stroke='hsla(0, 0%, 0%, 1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(-536,-152)' fill='url(%23a)'/></svg>");
            box-shadow: inset 0 0 4vh var(--shadow);
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 1;
        }
        .profile-card{
            position: relative;
            width: 40vh;
            height: 50vh;
            background: var(--p-color);
            border-radius: 2vh;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            gap:2vh;
            overflow: hidden;
            box-shadow: 0vh 0vh 2vh var(--shadow);
            .profile-card-photo{
                overflow: hidden;
                height: 20vh;
                width:100%;
                border-bottom:1vh  double var(--s-color);
                img{
                    width: 100%;
                    height: 100%;
                    object-fit:cover;
                    object-position:50% 15%;
                }
            }
            .profile-card-title{
                font-size: 4vh;
                font-family: var(--text);
                text-transform: capitalize;
            }
            
            .profile-card-discription{
                font-size: 2vh;
                font-family: var(--text);
                margin-top: -2vh;
            }
            .profile-card-contacts{
                .profile-card-social-link-list{
                    list-style: none;
                    .profile-card-social-link{
                        display: inline;
                        padding: 1vh;
                        cursor: pointer;
                        img{
                            background: var(--s-color);
                            border-radius: 100%;
                            height: 4vh;
                            width: 4vh;
                        }
                    }
                }
            }
        }
        .about-context-m{
            position: fixed;
            display: flex;
            align-items: center;
            justify-content: center;
            min-width: 100%;
            min-height: 100vh;
            background: var(--s-color);
            padding: 1vh;
            overflow: auto;
            .about-me{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                gap: 1vh;
                justify-content: center;
                align-items: center;
                .about-me-photo{
                    width: 30vh;
                    height: 40vh;
                    overflow: hidden;
                    border: 1vh solid var(--s-color);
                    border-radius: 5vh;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
                .about-me-paragraph{
                    width: 40vh;
                    text-align: justify;
                    color: var(--p-color);
                    font-size: 2vh;
                    font-family: var(--text);
                    .about-me-paragraph-header{
                        color: var(--p-color);
                        margin-bottom: 1vh;
                        font-size: 3vh;
                        font-weight: bold;
                    }
                }
            }

        }
        .projects-context-m{
            position: fixed;
            min-width: 100%;
            height: 100vh;
            background: var(--p-color);
            display: flex;
            flex-direction: column;
            padding: 1vh;
            align-items: center;
            justify-content: center;
        }
        .contacts-context-m{
            position: fixed;
            width: 100%;
            height: 100vh;
            background: var(--p1-color);
            display: flex;
            flex-direction: column;
            padding: 1vh;
            align-items: center;
            justify-content: center;
        }
      
    }
}
.active{
    transform: translateX(0);
}
@media (max-width: 980px){
    .left-section{
        min-width: 100%;
        right: 0;
    }
    .right-section{
        display: none;
    }
    
}